<div class="container">
<div class="container bg-primary">
	<div class="text-white">
		<div class="row">
			<div class="col-md-4">
				<img src="https://github.com/sahu8921/myApplication/blob/master/testPro/logo1.jpeg?raw=true" class="w-100 h-100" style="margin-left:-15px"/> 
     </div>   
  
      <div class="col-md-8">
      <h2 class="py-2 my-2 text-center"><i>Angular avengers</i></h2>
      
          <blockquote class="blockquote text-center">
          <p>"Heroes are made by the path they choose, not the powers they are graced with"</p>
          </blockquote>
                   </div>
      
    </div>
</div>
</div>
<div class="container text-center m-2">
  The quality and also usefulness connected with any kind of exercise program depends upon the actual Software Trainers. We (Angular avengers) Trainers are professionals, that are experienced and have real-world connection with the approval advancement. The actual interactive session carried out throughout the Course assists student for you to clear the style and also find out more rapidly.
 </div>

<img src="https://github.com/sahu8921/myApplication/blob/master/testPro/registraion.png?raw=true" class="rounded " style="">
<h3 class="text-center">TECHNOLOGIES WE TRAIN....</h3>
<div class="container m-5">
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <img class= "card-img-top img-fluid"src="https://github.com/sahu8921/myApplication/blob/master/testPro/download%20(1).png?raw=true">
      <h3 class="card-title"> Node JS</h3>
      <div class="card-block">
                
        <p class="text-justify p-4"> Node JS a powerful tool for controlling web servers, building applications, and creating event-driven programming and it brings JavaScript, a language familiar to all web developers, into an environment independent of web browsers. Learn all about Node JS and start creating JavaScript applications in this course with me. I show how to install Node JS on Mac, Windows, and dives deep into its modules and Express framework for app development. Learn how to unit test your code, start sessions on web servers, stream data, and create simple command-line tools.

Node JS makes it possible to write JavaScript applications without a web browser. In this course, I will be showing you how to install Node JS on Mac, Windows, how to use frameworks to start web servers and generate HTML output, how to unit test your code to reduce bugs and errors. We will also learn how to stream data and create command line tools in node.</p>
    </div>
    </div>
</div>
<div class="col-md-6 col-lg-3">
    <div class="card">
      <img class= "card-img-top"src="https://github.com/sahu8921/myApplication/blob/master/testPro/HTML.png?raw=true">
      <h3 class="card-title"> HTML/HTML5</h3>
      <div class="card-block">
                
        <p class="text-justify p-4">HTML5 is the latest evolution of the standard that defines HTML. The term represents two different concepts. It is a new version of the language HTML, with new elements, attributes, and behaviors, and a larger set of technologies that allows the building of more diverse and powerful Web sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5.
          Designed to be usable by all Open Web developers, this reference page links to numerous resources about HTML5 technologies, classified into several groups based on their function
        </p>
    </div>
    </div>

    
</div>
<div class="col-md-6 col-lg-3">
    <div class="card">
      <img class= "card-img-top"src="https://github.com/sahu8921/myApplication/blob/master/testPro/css3_new.png?raw=true">
      <h3 class="card-title"> CSS/CSS3</h3>
      <div class="card-block">
                
        <p class="text-justify p-4">CSS3 is the latest evolution of the Cascading Style Sheets language and aims at extending CSS2.1. It brings a lot of long-awaited novelties, like rounded corners, shadows, gradients, transitions or animations, as well as new layouts like multi-columns, flexible box or grid layouts. Experimental parts are vendor-prefixed and should either be avoided in production environments, or used with extreme caution as both their syntax and semantics can change in the future. CSS3 is the latest evolution of the Cascading Style Sheets language and aims at extending CSS2.1. It brings a lot of long-awaited novelties, like rounded corners, shadows, gradients, transitions or animations, as well as new layouts like multi-columns, flexible box or grid layouts. Experimental parts are vendor-prefixed and should either be avoided in production environments, or used with extreme caution as both their syntax and semantics can change in the future.</p>
    </div>
    </div>

    
</div>
<div class="col-md-6 col-lg-3">
    <div class="card">
      <img class= "card-img-top"src="https://github.com/sahu8921/myApplication/blob/master/testPro/Angualr6.png?raw=true">
      <h3 class="card-title"> Angular2/4/6 </h3>
      <div class="card-block">
                
        <p class="text-justify p-4">There are four major releases of Angular. The first version that was released is Angular1, which is also called AngularJS. Angular1 was followed by Angular2, which came in with a lot of changes when compared to Angular1.

The structure of Angular is based on the components/services architecture. AngularJS was based on the model view controller. Angular 4 released in March 2017 proves to be a major breakthrough and is the latest release from the Angular team after Angular2.

Angular 4 is almost the same as Angular 2. It has a backward compatibility with Angular 2. Projects developed in Angular 2 will work without any issues with Angular 4. </p>
    </div>
    </div>

    
</div>
<div class="col-md-6 col-lg-3">
    <div class="card">
      <img class= "card-img-top"src="https://github.com/sahu8921/myApplication/blob/master/testPro/Javascript.jpg?raw=true">
      <h3 class="card-title"> Javascript</h3>
      <div class="card-block">
                
        <p class="text-justify p-4">the standard for JavaScript is ECMAScript. As of 2012, all modern browsers fully support ECMAScript 5.1. Older browsers support at least ECMAScript 3. On June 17, 2015, ECMA International published the sixth major version of ECMAScript, ECMAScript 2015. Since then, ECMAScript standards are on yearly release cycles. This documentation refers to the latest draft version, which is currently ECMAScript 2019.

Do not confuse JavaScript with the Java programming language. Both "Java" and "JavaScript" are trademarks or registered trademarks of Oracle in the U.S. and other countries. However, the two programming languages have very different syntax, semantics, and uses.</p>
    </div>
    </div>
</div >
    
</div>

<h2 class="display-5 text-center py-2 my-3">Meet the speaker</h2>
    <!-- navbar -->
    <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
        <a class="nav-link" href="#sourabh" [ngClass]="isActive_sourabh" (click)="setActive('isActive_sourabh')" data-toggle="tab">Sourabh Sahu</a>
        <a class="nav-link" [ngClass]="isActive_lokesh" (click)="setActive('isActive_lokesh')" href="#Lokesh" data-toggle="tab">Lokesh Badgujar</a>
        <a class="nav-link" href="#Krishan" [ngClass]="isActive_krishan" (click)="setActive('isActive_krishan')" data-toggle="tab">Krishan Kumar</a>
        <a class="nav-link" href="#abhina" data-toggle="tab" (click)="setActive('isActive_abhina')" [ngClass]="isActive_abhina">Abhina Sahu</a>
    </nav>
    <div class="tab-content py-5">
       <div class="tab-pane" [ngClass]="isActive_sourabh" id="sourabh">
           <h3> Sourabh Sahu</h3>
            <img class= "img-fluid w-25"src="https://github.com/sahu8921/myApplication/blob/master/testPro/sourabh.jpg?raw=true">
            <p>I have completed bachelors degree in Computer Engineering. I have industry experience of over 6 years and 4 months and have worked through various phases viz. analysis, design, development and implementation of full life cycle of web based application. Retail, E-commerce, Market research and Entertainment are few of the domains I have worked in. I am experienced in implementing single page application. I have also created analytical dashboards using Charts library making data analysis and decision making easy. I have extensive knowledge with HTML/HTML5, CSS/CSS3,NodeJs,Angular1.x, Angular2, Angular4,Angular6, ExpressJs, ReactJS, MongoDB,GIT,Bitbucket, Karma Jasmine(Unit testing tool)</p>
       </div>
       <div class="tab-pane" id="Lokesh" [ngClass]="isActive_lokesh">
            <h3>Lokesh Badgujar</h3>
            <img class= "img-fluid w-25 h-25"src="https://github.com/sahu8921/myApplication/blob/master/testPro/lokesh.jpg?raw=true"/>
            <p>He is backbone of Angular avengers, haveing  6+ years of experience as Senior Software Engineer in following: 

Angular Web App Development 
NodeJS expert 
MEAN Stack development 
OO Javascript Programmer 
UI Developer 
Mobile App Development 
HTML5 ,SCSS, CommonJS Expert</p>
       </div>
       <div class="tab-pane" id="Krishan" [ngClass]="isActive_krishan">
           <h3>Krishan Kumar</h3>
            <img class= "img-fluid w-25 h-25"src="https://github.com/sahu8921/myApplication/blob/master/testPro/krishan.jpg?raw=true">
            <p>He is haveing 3+ years of experience as Software Engineer in following: Angular Web App Development NodeJS expert MEAN Stack development OO Javascript Programmer UI Developer Mobile App Development HTML5 ,SCSS, CommonJS Expert</p>
       </div>
       <div class="tab-pane" id="abhina" [ngClass]="isActive_abhina">
         <h3> Abhina Sahu</h3>
         <img class= "img-fluid w-25 h-25"src="https://github.com/sahu8921/myApplication/blob/master/testPro/abhina.jpg?raw=true">
            <p>He belives in "Great Leaders Engage The Battle Rather Than Run From It".
              he is haveing 4+ years of experience as Senior Software Engineer in following: Angular Web App Development NodeJS expert MEAN Stack development OO Javascript Programmer UI Developer Mobile App Development HTML5 ,SCSS, CommonJS Expert</p>
       </div>
    </div>
</div>
</div>



